
body {
	font-family: sans-serif;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size-adjust: 0.5;
}

.wrapper {
	display: flex;
	flex-flow: column;
	flex-wrap: nowrap;
	padding: .5em;
}

h1 {
	font-size: 1.05em;
}


/* Header */


/*	Top Images - Small */

.page-header {
background-image:
    url(/event_project/images/logo_50.png),
    url(/event_project/images/silverbanner_800.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right;
    background-size: 2em, 100%;
}


/* Nav */

.page-nav {
	background-color: rgb(0, 0, 0);
    display: flex;
    flex: auto;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}

.page-nav ul {
	display: flex;
    flex: auto;
	align-items: stretch;
	height: 2.5em;
	margin: 0;
	padding: 0;
	list-style: none;
    width: 100%;
    background-color: #000030
}

.page-nav li {
	flex: 1;
	display: flex;
    flex: auto;
    width: 100%;
	justify-content: center;
}

.page-nav a {
	text-decoration: none;
	color: #fff;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}
a:link {
    color: white;
}

/* Main */

.main {
	font-size: 1em;
	line-height: 1.25;
	margin: 0 auto;
	position: relative;
}

.cimage {
	margin: 1em 0;
}

.cimage img {
	display: block;
	width: 100%;
	height: auto;
}

.image-caption {
	padding: .25em 1em;
	font-family: serif;
	font-size: 80%;
	background: rgba(0, 0, 0, .1);
}

.video {
	display: block;
	width: 100%;
	height: auto;
}


/* Footer */

.page-footer {
	background-color: #000030;
	color: #fff;
	padding: 0 .5em;
	margin-bottom: 2.5em;
}

.page-footer ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.page-footer li {
	flex: auto;
}

.page-footer p {
	margin: 0;
}

.credits {
	font-size: .8em;
}


/* Medium Size */

@media (min-width: 41.67em) {
	body {
		font-size: 1.25em;
	}
	h1 {
		font-size: 2em;
		line-height: 1.125;
	}
	/*	Background Images - Use with medium screens */
	.page-header {
        background-image:
        url(/event_project/images/logo_100.png),
        url(/event_project/images/silverbanner_800.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right;
    background-size: 3.5em, 100%;

    }
	.page-nav {
		position: relative;
	}
	.page-nav li {
		flex: 0 1 20%;
	}
	.main {
		line-height: 1.375;
	}
	.video {
		margin: 0 1em 1em 0;
		float: left;
		width: 50%;
	}
	.cimage {
		float: right;
		display: inline-block;
		width: 50%;
		height: auto;
		margin: 0 1em 1em 0;
	}
	.video+p {
		clear: both;
	}
	.page-footer {
		margin-bottom: .5em;
	}
}



/* Large */

@media (min-width: 66.7em) {
	body {
		font-size: 1.5vw;
	}
	h1 {
		font-size: 3em;
		line-height: 1.05;
	}
	/* Head banner */
	.page-header {
    background-image:
            url(/event_project/images/logo_150.png),
            url(/event_project/images/silverbanner_1200.png);
        background-repeat: no-repeat, no-repeat;
        background-position: right, left;
        background-size: 5em, 100%;
}
	.page-nav li {
		flex: 0 1 10%;
	}
	.main {
		max-width: 80%;
		padding-right: 2em;
		padding-left: 2em;
	}
}



/*	css for tables */

		<style>
	.chart {
		border: none;
		border-collapse:collapse;
		padding:5px;
	}
	
	.chart td {
		border: none;
		padding:5px;
	}
</style>



/*	contact form */


#contact-form {
    background-color:#F2F7F9;
    width:465px;
    padding:20px;
    margin: 50px auto;    
    border: 6px solid #8FB5C1;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    position:relative;
}
 
#contact-form h1 {
    font-size:42px;
}
 
#contact-form h2 {
    margin-bottom:15px;
    font-style:italic;
    font-weight:normal;
}
 
#contact-form input, 
#contact-form select, 
#contact-form textarea, 
#contact-form label {
    font-size:15px;
    margin-bottom:2px;
}
 
#contact-form input, 
#contact-form select, 
#contact-form textarea {
    width:450px;
    border: 1px solid #CEE1E8;
    margin-bottom:20px;
    padding:4px;
}
 
#contact-form input:focus, 
#contact-form select:focus, 
#contact-form textarea:focus {
    border: 1px solid #AFCDD8;
    background-color: #EBF2F4;
}
 
#contact-form textarea {
    height:150px;
    resize: none;
}
 
#contact-form label {
    display:block;
}
 
#contact-form .required {
    font-weight:bold;
    color:#F00;    
}
 
#contact-form #submit-button {
    width: 100px;
    background-color:#333;
    color:#FFF;
    border:none;
    display:block;
    float:right;
    margin-bottom:0px;
    margin-right:6px;
    background-color:#8FB5C1;
    -moz-border-radius:8px;
}
 
#contact-form #submit-button:hover {
    background-color: #A6CFDD;
}
 
#contact-form #submit-button:active {
    position:relative;
    top:1px;
}
 
#contact-form #loading {
    width:32px;
    height:32px;
    background-image:url(../img/loading.gif);
    display:block;
    position:absolute;
    right:130px;
    bottom:16px;
    display:none;
}
 
#errors {
    border:solid 1px #E58E8E;
    padding:10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#FFE6E6 url(../img/cancel_48.png) no-repeat 405px center;
    display:none;
}
 
#errors li {
    padding:2px;
    list-style:none;    
}
 
#errors li:before {
    content: ' - ';    
}
 
#errors #info {
    font-weight:bold;
}
 
#errors #info:before {
    content: '';    
}
 
#success {
    border:solid 1px #83D186;
    padding:25px 10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#D3EDD3 url(../img/accepted_48.png) no-repeat 405px center;
    font-weight:bold;
    display:none;
}
 
#errors.visible, #success.visible {
    display:block;    
}
 
#req-field-desc {
    font-style:italic;
}
 
/* Normalize placeholder styles */
 
/* chrome, safari */
::-webkit-input-placeholder {
    color: gainsboro;
    font-style:italic;
}
 

}